<div class="header-container header-bg border-bottom">
  <span>Due date Generator</span>
</div>
<nav class="main-bg border-bottom">
  <a routerLink="/home/frequency/daily" class="nav" routerLinkActive="active">DAILY</a>
  <a routerLink="/home/frequency/weekly" class="nav" routerLinkActive="active">WEEKLY</a>
  <a routerLink="/home/frequency/monthly" class="nav" routerLinkActive="active">MONTHLY</a>
  <a routerLink="/home/frequency/yearly" class="nav" routerLinkActive="active">YEARLY</a>
  <a routerLink="/home/frequency/one-time" class="nav" routerLinkActive="active">ONE TIME</a>
  <a routerLink="/holidays" class="nav" routerLinkActive="active">HOLIDAYS</a>
</nav>
